/* ============== */
/* GENERAL STYLES */
/* ============== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

body {
    font: 400 16px 'Bai Jamjuree', sans-serif;
    background-color: #F2F1EF;
    color: #161513;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 10px;
}

.container--wide {
    max-width: 1280px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    border: 1px solid #000;
    line-height: 24px;
    margin: 0;
}

.btn--white {
    padding: 9px 26px;
}