* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

.grid {
    display: grid;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    background-color: #F2F1EF;
    color: #161513;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 10px;
}

.container--wide {
    max-width: 1280px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 96px;
}

.header__logo-img {
    display: block;
}

.menu__list {
    list-style: none;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 32px;
}

.menu__link:link,
.menu__link:visited {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    line-height: 24px;
    transition: all 0.3s ease;
}

/* TODO */
.menu__link:hover,
.menu__link:active {
    
}

.header__logo, .header__btn {
    flex-basis: 20%;
}

.header__btn {
    text-align: right;
}

.btn {
    display: inline-block;
    border: 1px solid #000;
    line-height: 24px;
    margin: 0;
}

.btn--white {
    padding: 9px 26px;
}

.section-hero {
    margin-top: 40px;
    margin-bottom: 150px;
}

.hero-container {
    display: grid;
    /* TODO watch video + find the best solution*/
    grid-template-columns: 1.9fr 1.26fr;
    column-gap: 45px;
}

.hero__text {
    align-self: center;
}

.hero__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    margin-bottom: 32px;
}

.hero__title span {
    margin: 0 12px;
}

.hero__skills {
    margin-bottom: 40px;
}

.hero__skills-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero__skills-item {
    font-size: 23px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}

.decoration-star img {
    display: block;
}

.hero__btns {
    display: flex;
}

.hero__btn {
    padding: 13px 33px;
}

.btn--black {
    background-color: #161513;
    color: #fff;
}

.hero__img img{
    width: 100%;
    display: block;
}

.specialization {
    transform: rotate(-5deg);
    margin-bottom: 200px;
}

.specialization__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161513;
    padding: 15px 30px;
}

.specialization__item {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
}


.section-about {
    margin-bottom: 120px;
}


.about__advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about__advantages-item {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.28px;
    box-shadow: 0 0 0 1px inset #161513;
    text-transform: uppercase;
    text-align: center;
    padding: 23px 72px;
}

.about__advantages-item span {
    display: block;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 11px;
}

.about__advantages-item--black {
    background-color: #161513;
    color: #fff;
}



