* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

.grid {
    display: grid;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    background-color: #F2F1EF;
    color: #161513;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.container--wide {
    max-width: 1280px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 96px;
}

.header__logo-img {
    display: block;
}

.menu__list {
    list-style: none;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 32px;
}

.menu__link:link,
.menu__link:visited {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    line-height: 24px;
    transition: all 0.3s ease;
}

/* TODO */
.menu__link:hover,
.menu__link:active {
    
}

.header__logo, .header__btn {
    flex-basis: 20%;
}

.header__btn {
    text-align: right;
}

.btn {
    display: inline-block;
    border: 1px solid #000;
}

.btn--white {
    padding: 9px 26px;
}

.section-hero {
    margin-top: 40px;
}

.hero__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    text-transform: uppercase;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
}

.hero__text {
    align-self: center;
}

.hero__img img{
    width: 100%;
    display: block;
}



