/* ================= */
/*      HEADER       */
/* ================= */
.header {
    height: 96px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu__link:link,
.menu__link:visited {
    position: relative;
    line-height: 24px;
}

.menu__link:link::after,
.menu__link:visited::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #161513;
    bottom: -1px;
    left: 0;
    transition: all .3s ease;
}

.menu__link:hover::after,
.menu__link:active::after {
    background-color: #E94D35;
}

.header__logo {
    line-height: 0;
}

.header__logo, .header__btn {
    flex-basis: 20%;
}

.header__btn {
    text-align: right;
}

/* ================= */
/*   SECTION HERO    */
/* ================= */
.section-hero {
    margin-top: 40px;
    margin-bottom: 150px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text-img {
    display: inline;
}

.hero__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    margin-bottom: 32px;
}

.hero__title span {
    margin: 0 12px;
}

.hero__skills {
    margin-bottom: 40px;
}

.hero__skills-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero__skills-item {
    font-size: 23px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.decoration-star img {
    display: block;
}

.hero__btns {
    display: flex;
}

.hero__btn {
    padding: 13px 33px;
}

.btn--black {
    background-color: #161513;
    color: #fff;
}

.hero__img img {
    width: 100%;
    display: block;
}

/* ================= */
/*   SPECIALIZATION   */
/* ================= */
.specialization {
    position: relative;
    width: 150%;
    left: -10px;
    transform: rotate(-5deg);
    margin-bottom: 200px;
    background-color: #161513;
}

.specialization__list {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.specialization__item {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
}

/* ================= */
/*   SECTION ABOUT   */
/* ================= */
.section-about {
    margin-bottom: 120px;
}

.about__author {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 120px
;
}

.about__author-name {
    text-transform: uppercase;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.02em;
    margin-bottom: 21px;

    display: flex;
    align-items: center;
}

.about__author-name span {
    margin: 0 8px;
    line-height: 0;
}

.about__author-career {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.01em;
}

.about__author-text-primary {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
}

.about__author-text-secondary {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 27px;
}

.about__author-personal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about__author-personal-header {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    color: #E94D35;
    margin-bottom: 9px;
}

.about__author-personal-data {
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.02em;
}

.about__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about__advantages-item {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    border: 2px solid #161513;
    padding: 22px 44px;
    text-align: center;
}

.about__advantages-num {
    font-size: 56px;
    line-height: 64px;
}

.about__advantages-text {
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.about__advantages-item--black {
    background-color: #161513;
    color: #fff;
}





/* ================= */
/*   SECTION AWARDS   */
/* ================= */
.section-awards {
    margin-bottom: 120px;
}

.section-header {
    margin: 0 auto 60px auto;
    text-align: center;
}

.section-header__icon {
    width: 40px;
    display: inline-block;
    margin-bottom: 22px;
}

.section-header__title {
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
    margin-bottom: 18px;
    font-weight: 400;
}

.section-header__subtitle {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.awards-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 35px;
    border: 2px solid #161513;
}

.awards-item:not(:last-child) {
    margin-bottom: 25px;
}

.awards-item__description {
    display: flex;
    align-items: center;
    gap: 25px
}

.awards-item__number {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    line-height: 32px;
    width: 48px;
    height: 48px;
    background-color: #E94D35;
    color: #fff;
}

.awards-item__title, .awards-item__subtitle {
    line-height: 32px;

}

.awards-item__title {
    font-size: 23px;
    letter-spacing: 0.48px;
}

.awards-item__subtitle {
    font-size: 18px;
}

.awards-item__type {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px
}

.awards-item__category {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
}

.awards-item__year {
    font-size: 16px;
    line-height: 32px;
}

/* ================= */
/* SECTION PORTFOLIO */
/* ================= */
.section-portfolio {
    margin-bottom: 120px;
}

.portfolio-item {
    display: flex;
    align-items: center;
    gap: 44px;
}

.portfolio-item:not(:last-child) {
    margin-bottom: 95px;
}

.portfolio-item:nth-child(even) {
    flex-direction: row-reverse;
}

.portfolio-item__img img {
    display: block;
}

.portfolio-item__category {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.44px;
    padding: 5px 12px;
    background-color: #E94D35;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
}

.portfolio-item__title {
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
    margin-bottom: 50px;
}

.portfolio-item__link:link, .portfolio-item__link:visited {
    font-size: 20px;
    line-height: 32px;
}

/* ================= */
/* SECTION SERVICES */
/* ================= */
.section-services {
    margin-bottom: 120px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.services-item {
    padding: 34px;
    border: 2px solid #161513;
}

.services-item__title {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.64px;
    margin-bottom: 28px;
}

.services-item__text {
    font-size: 18px;
    line-height: 32px;
}

/* ================= */
/* SECTION CUSTOMERS */
/* ================= */
.section-customer {
    margin-bottom: 120px;
}

.customer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(2, 98px);*/
    gap: 32px
}

.section-header__title--no-margin {
    margin-bottom: 0;
}

.customer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98px;
    border: 1px solid #161513;
}

/* ================= */
/* SECTION ARTICLES */
/* ================= */
.section-articles {
    margin-bottom: 120px;
}

.articles-list {
    position: relative;
    margin-bottom: 95px;
}

.articles-list:after {
    content: url(img/icon_2.svg);
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 240px;
    height: 240px;
}

.articles-item {
    border: 2px solid #161513;
    padding: 13px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.articles-item:not(:last-child) {
    margin-bottom: 100px;
}

.articles-item__info {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #E94D35;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.articles-item__title {
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
}

.articles-item__preview {
    font-size: 16px;
    line-height: 24px;
}

.articles-browse-btn {
    display: block;
    padding: 14px 28px;
    color: #fff;
    background-color: #161513;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

/* ================= */
/* SUBSCRIPTION */
/* ================= */
.subscription {
    background-color: #E6E3DE;
    height: 176px;
}

.subscription-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.subscription__text {
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
}

/* TODO styling*/
.subscription__email {
    border: 2px solid #161513;
    padding: 10px 21px;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    background-color: #E6E3DE;
    color: #161513;
    margin-right: 25px;
}

.subscription__btn {
    color: #fff;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    background-color: #161513;
    padding: 12px 15px;
    border: none;
}

.footer {
    background-color: #161513;
    color: #fff;
    min-height: 220px;
}

.footer-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.footer__logo img {
    display: block;
    /*filter: ;*/
    /*color: #fff;*/
    width: 32px;
    height: 32px;
}

.footer-info {
    justify-self: end;
}

.footer__copyright {
    align-self: end;
    font-size: 14px;
    line-height: 24px;
}

.footer-social {
    justify-self: end;
    align-self: end;
}